#productsBackground{
    background-image: url("/images/groceries.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}

.card {
    display: flex;
    color:rgb(4, 1, 1);
    text-align: center;
    margin-bottom: 3%;
    background: conic-gradient(rgba(82, 92, 113, 0.99), rgba(196, 220, 76, 0.561),rgba(255, 192, 203, 0.364),rgba(186, 186, 224, 0.349));
    font-size: x-large;
    font-weight: bold;
    margin-top: 8%;
}

.card-title{
    color:rgb(1, 8, 20);
  
}