#viewAllTable,
#categorySelectionRow,#categoryTable,#productCategory {
    display: none;
}

table {
    background:conic-gradient(rgba(201, 28, 74, 0.348),rgba(28, 148, 70, 0.781),rgba(145, 166, 167, 0.821),rgba(190, 190, 35, 0.913));
   
}

form{
    display: flex;
    justify-content:end;
}

main{
    
    background-image: url("/images/products\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


h1 {

    font-size: 50px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}